.msg{
    width: 600px;
    height: 300px;
    padding: 20px;
    background-color:floralwhite;
    position: relative;
    margin: auto;
    text-align: center;
}

.btn{
    background-color: #299999;
}